nav{
    display: flex;
    flex-wrap: wrap;
    padding:25px;
  background-color:#9896f1;
    align-content: center;
    justify-content: center;
}

h1{
    color:white;
    
}


.cards{
    border-radius: 5px;
    margin-top: 25px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-header {
    border-radius: 5px;
    border:solid 1px grey;
    width: auto;
    text-align: center;
background-color: #8ef6e4!important;
}

.card {
    padding:30px;
    border-radius: 5px;
    margin: 20px;
}

.color-body{
    border-radius: 5px;
    border:solid 1px grey;
    padding: 15px;
   background-color:#edb1f1;

}
.link{
    border-bottom: solid 1px grey;
    text-decoration: none;
}
.email{
    text-decoration: none;
    color:black;    
}

a{
    text-decoration: none;
}